/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
======================
Body
======================
*/
body {
	font-family: Arial, sans-serif;

}
/*
======================
Header
======================
*/
.header-container .title-bar {
	display: inline-block;
	height: 40px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 40px;
	width: 100%;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	background-color: white;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	z-index: 40;
}
.title-bar .title-bar-left{
	float: left;
	margin-left: 75px;
	font-size: 25px
}
.title-bar-right {
	margin-right: 75px;
	float: right;
}
.title-bar-right img{
	width: 30px;
	height: 30px;
	margin-right: 15px;
	line-height: 40px;
	vertical-align: middle;
	
}
.title-bar .title-bar-right a{
	text-decoration: none;
	opacity: 0.5;
	color: black;
}
.title-bar .title-bar-right a:hover {
	opacity: 1.0;
}
.header-container .window h2{
	margin-top: 50px;
	content: url("assets/viking_ship_background_medium.jpg");
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
/*
=================
Window
=================
*/

/*
=================
Banner
=================
*/
.banner {
	background-color: #333333;
	height: 70px;
}
.banner h3{
	color: white;
	font-size: 2em;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	width: 100%;
}
.products-container .text {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid black;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	font-style: italic;
	font-weight: lighter;
}
.photos {
	text-align: center;
}
.photo-row {
	display: inline-block;
}
.photo-container {
	height: 440px;
	width: 250px;
	background-color: #333333;
	float: left;
	margin: 15px 8px 0 8px;
}
.photo-container p{
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 8px 0 13px 0;
}
.photo-container img {
	display: block;
	margin:	auto;
	width: 95%;
	z-index: -1;
}

.photo-container .price {
	position: absolute;
	color: white;
	font-weight: normal;
	padding: 5px;
	background-color: #bf2825;
	border-radius: 2px;
	margin-top: -152px;
	margin-left: 192px;
	z-index: 10;
	float: right;
}

.button {
	background-color: #ffe36a;
	height: 30px;
	width: 125px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
	border-radius: 2px;
}
.button p{
	color: black;
}
.page {
	text-align: center;
	margin: 20px 0 35px 0;
}
.page a{
	margin: 0 5px 0 5px;
}
.page a:nth-child(2){
	text-decoration: none;
}
.page a:nth-child(1){
	margin-right: 25px;
}
.page a:nth-child(9){
	margin-left: 25px;
}
#dots {
	text-decoration: none;
}
.page a:nth-child(3){
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*
======================
Footer
======================
*/
.foot-container {
	background-color: #333333;
	height: 150px;
}
.contact {
	text-align: center;
}
.contact h4{
	color: #F6B26B;
	padding-top: 15px;
	padding-bottom: 15px;
}
.phone	{
	height: 30px;
}
.email {
	height: 30px;
}
.phone p {
	color: white;
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px;
}
.phone a {
	color: white;
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px;
}
.phone img{
	height: 20px;
	width: 20px;
	line-height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
.email img{
	height: 20px;
	width: 20px;
	line-height: 30px;
	vertical-align: middle;
	margin-right: 10px;
}
.foot-container .subfoot-container{
	width: 100%
	height: 15px;
	color: white;
}
















